<!-- Main Content-->
<div class="page-content pull-left">
    <section ng-include="ctrl.mainContentTemplate"></section>
</div>
<!-- Side Content-->
<div class="sidebar pull-right">
    <aside ng-include="ctrl.sidebarTemplate"></aside>
</div>