<div class="page">
    <div class="wrapper">
        @*Todo Page Title*@
        <h2>Page Title Here!</h2>
    </div>
    <div class="content">
        <div class="wrapper">
            
            @*Todo Page Rout*@
            <div class="current-route"><span>Current » <strong class="sub-title">Rout</strong></span></div>
            <div class="container-fluid clearfix">
                @*<!-- Main Content-->
                <div class="page-content pull-left">
                    <section ng-include="ctrl.mainContentTemplate"></section>
                </div>
                <!-- Side Content-->
                <div class="sidebar pull-right">
                    <aside ng-include="ctrl.sidebarTemplate"></aside>
                </div>*@
            </div>
        </div>
    </div>
</div>