@using QuizProjectMvc.Web.Controllers
@model QuizProjectMvc.Web.ViewModels.PageModels.ProfilePageViewModel

<!-- Last quizes created, taken, comments -->
<div class="widget">
    <h3>Last Quizzes Created</h3>
    <div class="well">
        @if (Model.QuizzesCreated.Count > 0)
        {
            <ul>
                @foreach (var quiz in Model.QuizzesCreated)
                {
                    <li>
                        <h4>
                            @(Html.ActionLink<SolveQuizController>(quiz.Title, c => c.Solve(quiz.Id)))
                            - @quiz.CreatedOn.ToShortDateString()
                        </h4>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>None so far...</p>
        }
    </div>
</div>

<div class="widget">
    <h3>Last Quizzes Solved</h3>
    <div class="well">
        @if (Model.QuizzesTaken.Count > 0)
        {
            <ul>
                @foreach (var solution in Model.QuizzesTaken)
                {
                    <li>
                        <h4>
                            @(Html.ActionLink<SolveQuizController>(
                                  solution.Title, c => c.Result(solution.Id)))
                            - @solution.CreatedOn.ToShortDateString()
                        </h4>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>So far none...</p>
        }
    </div>
</div>

