@using Microsoft.AspNet.Identity
@using QuizProjectMvc.Common
@model QuizProjectMvc.Web.ViewModels.ProfileInformation.ProfilePageViewModel

<!-- Profile Information And Edit -->
@Html.DisplayFor(m => m.PublicProfile)

@if (User.Identity.GetUserId() == Model.PublicProfile.Id || User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    @*Todo Proper Management Page*@
    <div>
        @Html.ActionLink(
               "Edit Profile Information", "Index", "Manage", routeValues: new { area = string.Empty }, htmlAttributes: new
               {
                   title = "Manage",
                   @class = "btn btn-primary btn-round col-md-offset-9"
               })
    </div>
}