// ======== Imports =============
@import "../helpers/index";

.widget {

    > h3 {
        margin-top: 0;
        font-family: @font-thin;
    }

    .well {
        padding: 2.8rem;
        border-radius: 15px;
        .linear-grad(darken(white, 3%), white 75%);

        .user-avatar {
            cursor: pointer;
            margin-bottom: 5px;
        }

        > ul {
            padding-left: 1rem;
            list-style: none;
            
            li {
                margin-top: 2rem;

                h4 {
                    text-shadow: none;
                    font-weight: bold;
                }
            }
        }

        .solutions-counter {
            color: lighten(@medium-dark, 15%);
        }
    }
}

.single-article {
    position: relative;
    // The subtle line
    &:before, &:after {
        display: block;
        position: absolute;
        width: 75%;
        left: -1rem;
        content: "";
        height: 1px;
        // Todo: substitude with the gradient mixin
        background-image: linear-gradient( to right, rgba(0, 0, 0, 0) 0%, rgba(196, 196, 196, 1) 5%, rgba(196, 196, 196, 1) 55%, rgba(0, 0, 0, 0) 100%);
    }

    &:after {
        top: 1px;
        background-image: linear-gradient( to right, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 50%,rgba(255, 255, 255, 0) 80%);
    }

    .radial-grad( @colors: rgba(0, 0, 0, 0.07 ) 0%, rgba(0, 0, 0, 0) 100%; @pos: 10rem 0; @stretch: 15rem 1.5rem; @type: ellipse);

    .article-header {
        h4 {
            color: @sectionHeading;
        }
    }

    .article-body {
        margin-top: 1.5rem;

        @media only screen and (min-width:700px) {
            padding-right: 6rem;
        }

        .basic-info {
            span {
                color: #1f262d;
            }

            .btn-danger {
                color: #fff;
                margin-right: 0.5rem;
            }
        }

        .article-content {
            width: 67%;
            padding-left: 2rem;

            p {
                margin-bottom: 0.5rem;
            }

            .description {
                p {
                    font-size: 12px;
                }
            }
        }

        .article-image {
            position: relative;
            max-width: 32%;
            background-color: @articleImageBackground;

            border: 1px solid lighten(@articleImageBackground, 9%);
            border-bottom-color: darken(@articleImageBackground, 5%);

            &:before {
                content: "";
                position: absolute;
                top: 5px;
                left: 5px;
                right: 5px;
                bottom: 5px;
                .box-shadow-inset(@x: 3px; @y: 3px; @blur: 5px; @color: rgba(0, 0, 0, 0.43));
            }

            > img {
                border: 5px solid white;
            }
        }
    }
}

.modal-avatar-container {
    margin: 0 auto;

    .user-avatar {
        position: relative;
        cursor: pointer;
        width: 33%;
        min-height: 200px;
        float: left;
        box-sizing: border-box;

        > img {
            width: 100%;
            .absolute-center();

            &.selected {
                background: rgba(0, 0, 0, 0.05);
            }
        }
    }
}
