@import "mix-ins";
@import "color-schemes/original";

//========== THEME INDEPENDENT ===============
@contentArticleColor: #838383;
@shadow: rgba(0, 0, 0, 0.62);
@carousel-container-bg: #25575e;
@medium-dark: #1f262d;
@articleImageBackground: #c4c4c4;

// Text
@pageText: #a3a3a3;
@pageHeading: white;
@articleHeading: #1f262d;
@sectionHeading: #505050;
@sideText: #5e5e5e;
.pageTextShadow { text-shadow: 1px 1px 1px white; }
.pageTitleShadow { text-shadow: 1px 1px 1px black; }

// ===========================================

