@using QuizProjectMvc.Web.Controllers
@model QuizProjectMvc.Web.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

@*Main Content*@
@foreach (var quiz in Model.Quizzes)
{
    @Html.DisplayFor(m => quiz)
}

@Html.ActionLink("Test Btn", "Index", Model.Pager, new
{
    @class = "btn btn-primary"
})

@*Side Content*@
@section aside {
    <div class="widget">
        <h1>Categories</h1>
        <div class="well">
            <ul>
                @foreach (var category in Model.Categories)
                {
                    <li>
                        @category.Name
                    </li>
                }
            </ul>
        </div>
    </div>
}
