@using QuizProjectMvc.Web.Controllers
@using QuizProjectMvc.Web.Helpers
@using QuizProjectMvc.Web.ViewModels
@model QuizProjectMvc.Web.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Home Page";
    Notification notification = null;

    if (TempData["error"] != null)
    {
        notification = new Notification { Message = (string)TempData["error"], CssClass = "alert-danger" };
    } else if (TempData["notification"] != null)
    {
        notification = new Notification { Message = (string)TempData["notification"], CssClass = "alert-info" };
    }

    if (notification != null)
    {
        Html.RenderPartial("_NotificationPartial", notification);
    }
}

@*Main Content*@
@foreach (var quiz in Model.Quizzes)
{
    @Html.DisplayFor(m => quiz)
}

<div class="pager">

    @Html.Partial("_PagerPartial", Model.Pager, new ViewDataDictionary {
    { "Controller", Html.ControllerName()},
    { "Action", Html.ActionName()}
    })

</div>

@*Side Content*@
@section aside {
    <div class="widget">
        <h1>Categories</h1>
        <div class="well">
            <ul>
                @foreach (var category in Model.Categories)
                {
                    <li>
                        @category.Name
                    </li>
                }
            </ul>
        </div>
    </div>
}

@section scripts {
    <script src="~/Scripts/app/confirm-submit.js"></script>
}
