@model QuizProjectMvc.Web.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<!-- Main Content-->
<div class="page-content pull-left">
    <section>
        @foreach (var quiz in Model.Quizzes)
        {
            @Html.DisplayFor(m => quiz)
        }
    </section>
</div>

<!-- Side Content-->
<div class="sidebar pull-right">
    <aside>
        <h1>Categories</h1>
        <div class="row">
            @foreach (var category in Model.Categories)
            {
                <div class="col-md-2">
                    @category.Name
                </div>
            }
        </div>
    </aside>
</div>