@using QuizProjectMvc.Web.ViewModels

<section id="manage-quiz" ng-app="manageQuiz" ng-controller="@ViewBag.NgController as ctrl">
    
    @if (TempData["error"] != null)
    {
        var notification = new Notification {Message = (string) TempData["error"], CssClass = "alert-danger"};
        @Html.Partial("_NotificationPartial", notification)
    }

    <div class="col-md-10 col-md-offset-1">

        @using (Html.BeginForm(
            "Create", "ManageQuiz", FormMethod.Post, new
            {
                name = "quizForm",
                @class = "form-horizontal",
                novalidate = "novalidate",
                autocomplete = "off"
            }))
        {
            <fieldset>
                <legend>@ViewBag.Action Quiz</legend>

                <!-- Title -->
                <div class="form-group">
                    <label for="quizTitle" class="col-lg-2 control-label">Title</label>
                    <div class="col-lg-10">
                        <input type="text" ng-model="quiz.title" id="quizTitle"
                               class="form-control" name="title" placeholder="Quiz Title"
                               required ng-minlength="3"
                               ng-focus="titleFocus=true" ng-blur="titleFocus=false">
                        <div ng-show="quizForm.title.$invalid && (quizForm.title.$dirty || titleFocus)"
                             class="alert alert-info">
                            <p>Enter a quiz title of at least 3 characters.</p>
                        </div>
                    </div>
                </div>

                <!-- Category -->
                <div class="form-group">
                    <label for="quizCategory" class="col-lg-2 control-label">Category</label>
                    <div class="col-lg-10">
                        <input type="text" ng-model="quiz.category" id="quizCategory"
                               required
                               uib-typeahead="category as category.name for category in categories | filter:{name:$viewValue}"
                               typeahead-template-url="/manageQuiz/getCategoryTemplate"
                               typeahead-editable="false"
                               typeahead-show-hint="true"
                               typeahead-min-length="0"
                               class="form-control" name="category" placeholder="Quiz Category"
                               ng-focus="categoryFocus=true" ng-blur="categoryFocus=false">
                        <i ng-show="loadingCategories" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="quizForm.category.$invalid && (quizForm.category.$dirty || categoryFocus)"
                             class="alert alert-info">
                            <p>Select a quiz category.</p>
                        </div>
                    </div>
                </div>

                <!-- Description -->
                <div class="form-group">
                    <label for="description" class="col-lg-2 control-label">Description</label>
                    <div class="col-lg-10">
                        <textarea ng-model="quiz.description" class="form-control"
                                  id="description" rows="3" name="description"
                                  ng-minlength="5"
                                  ng-focus="descFocus=true" ng-blur="descFocus=false"></textarea>
                        <div ng-show="(quizForm.description.$invalid && quizForm.description.$dirty) ||
                                                                    (descFocus && !quiz.description)"
                                                                            class="alert alert-info">
                            <p>Write a short description for the quiz.</p>
                        </div>
                    </div>
                </div>

                <!-- Private/Public -->
                <div class="form-group">
                    <label for="access" class="col-lg-2 control-label">Quiz Access</label>
                    <div class="col-lg-2">
                        <toggle-switch name="access" id="access"
                                       ng-model="quiz.isPrivate"
                                       on-label="private"
                                       off-label="public"></toggle-switch>
                    </div>
                </div>

                <!-- Answers Shuffle -->
                <div class="form-group">
                    <label for="suffle" class="col-lg-2 control-label">Shuffle Answers</label>
                    <div class="col-lg-2" ng-mouseover="answersPopover=true" ng-mouseleave="answersPopover=false">
                        <toggle-switch name="suffle" id="suffle"
                                       ng-model="quiz.shuffleAnswers"
                                       on-label="shuffle"
                                       off-label="off"
                                       uib-popover="{{ctrl.popups.ANSWERS_SHUFFLE}}"
                                       popover-trigger="none"
                                       popover-is-open="answersPopover"
                                       popover-placement="right"></toggle-switch>
                    </div>
                </div>

                <!-- Number Of Questions -->
                <div class="form-group">
                    <label for="quizQuestionsCount" class="col-lg-2 control-label">Questions per Solving</label>
                    <div class="col-lg-2"
                        ng-mouseover="questionCount=true" ng-mouseleave="questionCount=false"
                        uib-popover="{{ctrl.popups.NUMBER_OF_QUESTIONS}}"
                        popover-trigger="none"
                        popover-is-open="questionCount"
                        popover-placement="top">

                            <input type="number" ng-model="quiz.numberOfQuestions"
                                   id="quizQuestionsCount"
                                   class="form-control" name="quizQuestionsCount"
                                   required min="3" max="{{quiz.questions.length}}"
                                   ng-focus="questionsCountFocus=true"
                                   ng-blur="questionsCountFocus=false">
                        </div>
                </div>

                <!-- Add Question -->
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <span uib-popover="{{ctrl.popups.ADD_QUESTIONS}}"
                              popover-trigger="none"
                              popover-is-open="quiz.questions.length < 3 && !modalIsOpen"
                              popover-placement="right">
                            <button class="btn btn-success" type="button"
                                    ng-click="ctrl.openQuesitonMenu()">
                                Add New Question
                            </button>
                        </span>
                    </div>
                </div>

                <!-- Questions -->
                <div class="form-group">
                    <label class="col-lg-2 control-label">Questions</label>
                    <div class="col-lg-10">
                        <ul class="list-group question-list" name="questions">
                            <li class="list-group-item clearfix"
                                ng-repeat="question in quiz.questions | paging:ctrl.pager.currentPage:ctrl.pager.pageSize">

                                <em class="text-info hide-overflow" ng-bind="question.title"
                                    ng-click="ctrl.openQuesitonMenu(question)"
                                    uib-popover="This question has {{question.answers.length}} answers available"
                                    popover-placement="left" tooltip-class="info-tip" popover-trigger="mouseenter"></em>
                                <span class="pull-right button-group">
                                    <button type="button"
                                            class="btn btn-xs btn-primary"
                                            ng-click="ctrl.openQuesitonMenu(question)">
                                        <span class="glyphicon glyphicon-edit"></span> Edit
                                    </button>
                                    <button type="button"
                                            class="btn btn-xs btn-danger"
                                            ng-click="ctrl.removeQuestion($index)">
                                        <span class="glyphicon glyphicon-remove"></span> Delete
                                    </button>
                                </span>

                            </li>
                        </ul>

                        <!-- Questions paging -->
                        <uib-pagination ng-show="quiz.questions.length > ctrl.pager.pageSize"
                                        class="pull-right"
                                        total-items="quiz.questions.length"
                                        ng-model="ctrl.pager.currentPage"
                                        items-per-page="ctrl.pager.pageSize"
                                        max-size="10"></uib-pagination>
                    </div>
                </div>

                <!-- Submit -->
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <input type="button" class="btn btn-primary"
                               ng-disabled="!ctrl.saveIsAvailable(quiz, quizForm)"
                               ng-click="ctrl.addQuiz(quiz, quizForm)" value="Save Quiz"/>

                        <button type="button" ng-click="resetForm(quizForm)" class="btn btn-danger">Reset</button>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</section>