.ranking-controls {
  padding-bottom: 5rem;
}
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@font-face {
  font-family: 'Droid Sans';
  src: url('/fonts/DroidSans.ttf');
  src: url('/fonts/DroidSans-Bold.ttf') format('bold');
}
@font-face {
  font-family: 'Colaborate Thin';
  src: url('/fonts/ColabThi.otf');
}
.btn-grad {
  background-color: #000000;
  background-image: -webkit-linear-gradient(180deg, #323a43, #000000);
  background-image: -moz-linear-gradient(180deg, #323a43, #000000);
  background-image: -ms-linear-gradient(180deg, #323a43, #000000);
  background-image: -o-linear-gradient(180deg, #323a43, #000000);
  background-image: linear-gradient(180deg, #323a43, #000000);
}
.pageTextShadow {
  text-shadow: 1px 1px 1px white;
}
.pageTitleShadow {
  text-shadow: 1px 1px 1px black;
}
@keyframes neon-glow {
  0% {
    text-shadow: 0 0 0 #242f3c;
  }
  50% {
    text-shadow: 0 0 3px #242f3c;
  }
  100% {
    text-shadow: 0 0 0 #242f3c;
  }
}
.btn {
  color: white;
  border: 1px solid #000 !important;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  text-shadow: none;
  transition: 0.25s;
}
.btn:focus {
  background-position: 0;
  color: inherit;
}
.btn:hover {
  border-color: #333333 !important;
  background-position: 0;
}
.btn-primary,
.btn-quiz {
  background-color: #000000;
  background-image: -webkit-linear-gradient(180deg, #323a43, #000000);
  background-image: -moz-linear-gradient(180deg, #323a43, #000000);
  background-image: -ms-linear-gradient(180deg, #323a43, #000000);
  background-image: -o-linear-gradient(180deg, #323a43, #000000);
  background-image: linear-gradient(180deg, #323a43, #000000);
}
.btn-primary:hover,
.btn-quiz:hover {
  background-color: #3e4c5a;
  background-image: -webkit-linear-gradient(0deg, #53606f, #262626);
  background-image: -moz-linear-gradient(0deg, #53606f, #262626);
  background-image: -ms-linear-gradient(0deg, #53606f, #262626);
  background-image: -o-linear-gradient(0deg, #53606f, #262626);
  background-image: linear-gradient(0deg, #53606f, #262626);
}
.btn-primary[disabled],
.btn-quiz[disabled] {
  background-color: #536678;
  background-image: -webkit-linear-gradient(0deg, #68798c, #404040);
  background-image: -moz-linear-gradient(0deg, #68798c, #404040);
  background-image: -ms-linear-gradient(0deg, #68798c, #404040);
  background-image: -o-linear-gradient(0deg, #68798c, #404040);
  background-image: linear-gradient(0deg, #68798c, #404040);
}
.btn-primary[disabled]:hover,
.btn-quiz[disabled]:hover {
  background: #888;
}
.btn-round {
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
}
.btn-round:hover {
  color: white;
}
.btn-danger {
  background-color: #362e27;
}
.btn-success {
  background-color: #28382f;
}
.btn-info {
  background-color: #332838;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info:target {
  background-color: #614c6b !important;
}
.btn-info[disabled] {
  background-color: #91769d;
}
.btn-info[disabled]:hover {
  background: #888;
}
.btn-google {
  background-image: url("/Content/images/google-btn.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -7px;
  width: 134px;
  height: 62px;
}
.fb-share {
  background-color: #395b9b;
}
.form-horizontal legend {
  font-weight: normal;
}
.form-group .toggle-switch,
.form-group a {
  text-shadow: none;
}
.form-group .toggle-switch .switch-left {
  background-color: #000000;
}
.form-group .dropdown .dropdown-menu li a {
  background: #323a43;
  color: #a6a6a6;
}
.form-group .dropdown .dropdown-menu li a:hover,
.form-group .dropdown .dropdown-menu li a:focus {
  color: #cccccc;
  background-color: #3e4c5a;
  background-image: -webkit-linear-gradient(0deg, #53606f, #262626);
  background-image: -moz-linear-gradient(0deg, #53606f, #262626);
  background-image: -ms-linear-gradient(0deg, #53606f, #262626);
  background-image: -o-linear-gradient(0deg, #53606f, #262626);
  background-image: linear-gradient(0deg, #53606f, #262626);
}
.form-group.required .control-label:after {
  content: "*";
  color: #ff4d00;
}
.content {
  position: relative;
  padding: 0 1rem;
  border: 1px solid #fff;
  border-left: 0;
  border-right: 0;
  -webkit-box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.7);
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.7), 0 10px 20px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.7), 0 10px 20px rgba(0, 0, 0, 0.7);
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.7), 0 10px 20px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0 10px 15px rgba(0, 0, 0, 0.25), inset 0 -10px 15px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 10px 15px rgba(0, 0, 0, 0.25), inset 0 -10px 15px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 10px 15px rgba(0, 0, 0, 0.25), inset 0 -10px 15px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.7), 0 10px 20px rgba(0, 0, 0, 0.7), inset 0 10px 15px rgba(0, 0, 0, 0.25), inset 0 -10px 15px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.7), 0 10px 20px rgba(0, 0, 0, 0.7), inset 0 10px 15px rgba(0, 0, 0, 0.25), inset 0 -10px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.7), 0 10px 20px rgba(0, 0, 0, 0.7), inset 0 10px 15px rgba(0, 0, 0, 0.25), inset 0 -10px 15px rgba(0, 0, 0, 0.25);
  background-image: url('/Content/images/content-bg.png');
  background-repeat: repeat;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
.panel.panel-primary .panel-heading {
  background-image: -webkit-linear-gradient(180deg, #3e4852, #323b44);
  background-image: -moz-linear-gradient(180deg, #3e4852, #323b44);
  background-image: -ms-linear-gradient(180deg, #3e4852, #323b44);
  background-image: -o-linear-gradient(180deg, #3e4852, #323b44);
  background-image: linear-gradient(180deg, #3e4852, #323b44);
}
.nav-container {
  background-color: #323b44;
  background-image: -webkit-linear-gradient(180deg, #3e4852, #323b44);
  background-image: -moz-linear-gradient(180deg, #3e4852, #323b44);
  background-image: -ms-linear-gradient(180deg, #3e4852, #323b44);
  background-image: -o-linear-gradient(180deg, #3e4852, #323b44);
  background-image: linear-gradient(180deg, #3e4852, #323b44);
  border-radius: 10px;
  border-top: 1px solid #4e5c6a;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
  padding: 0 2.5rem;
}
.quiz-tooltip {
  color: #838383;
}
.category-dropdown {
  cursor: pointer;
}
.answer-mark {
  cursor: pointer;
}
.answer-mark a {
  color: #1f262d;
}
.form-group label.correct .fa-check {
  position: absolute;
  font-size: 30px;
  color: #0B9900;
  left: 21px;
  top: 3px;
}
.questions-paging .pagination-page {
  text-shadow: none;
  margin: 0 0.25rem;
  display: inline-block;
}
.questions-paging .pagination-page.active a {
  background: #000000;
}
.questions-paging .pagination-page a {
  border-radius: 5px;
}
.question-list {
  margin-bottom: 1rem;
}
.question-list .text-info {
  cursor: pointer;
}
.widget .categories ul {
  list-style: none;
  width: auto;
}
.widget .categories ul li {
  position: relative;
  margin: 0.5rem 0;
}
.widget .categories ul li img {
  margin-right: 0.5rem;
}
.widget > h3 {
  margin-top: 0;
  font-family: "Colaborate Thin", monospace;
}
.widget .well {
  padding: 2.8rem;
  border-radius: 15px;
  background-image: -webkit-linear-gradient(white 75%, #f7f7f7);
  background-image: -moz-linear-gradient(white 75%, #f7f7f7);
  background-image: -ms-linear-gradient(white 75%, #f7f7f7);
  background-image: -o-linear-gradient(white 75%, #f7f7f7);
  background-image: linear-gradient(white 75%, #f7f7f7);
}
.widget .well .user-avatar {
  cursor: pointer;
  margin-bottom: 5px;
}
.widget .well > ul {
  padding-left: 1rem;
  list-style: none;
}
.widget .well > ul li {
  margin-top: 2rem;
}
.widget .well > ul li h4 {
  text-shadow: none;
  font-weight: bold;
}
.widget .well .solutions-counter {
  color: #3e4c5a;
}
.single-article {
  position: relative;
  background-image: -webkit-radial-gradient(ellipse 15rem 1.5rem at 10rem 0, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-radial-gradient(ellipse 15rem 1.5rem at 10rem 0, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-radial-gradient(ellipse 15rem 1.5rem at 10rem 0, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-radial-gradient(ellipse 15rem 1.5rem at 10rem 0, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: radial-gradient(ellipse 15rem 1.5rem at 10rem 0, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0) 100%);
}
.single-article:before,
.single-article:after {
  display: block;
  position: absolute;
  width: 75%;
  left: -1rem;
  content: "";
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #c4c4c4 5%, #c4c4c4 55%, rgba(0, 0, 0, 0) 100%);
}
.single-article:after {
  top: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 20%, #ffffff 50%, rgba(255, 255, 255, 0) 80%);
}
.single-article .article-header h4 {
  color: #505050;
}
.single-article .article-body {
  margin-top: 1.5rem;
}
@media only screen and (min-width: 700px) {
  .single-article .article-body {
    padding-right: 6rem;
  }
}
.single-article .article-body .basic-info span {
  color: #1f262d;
}
.single-article .article-body .basic-info .btn-danger {
  color: #fff;
  margin-right: 0.5rem;
}
.single-article .article-body .article-content {
  width: 67%;
  padding-left: 2rem;
}
.single-article .article-body .article-content p {
  margin-bottom: 0.5rem;
}
.single-article .article-body .article-content .description p {
  font-size: 12px;
}
.single-article .article-body .article-image {
  position: relative;
  max-width: 32%;
  background-color: #c4c4c4;
  border: 1px solid #dbdbdb;
  border-bottom-color: #b7b7b7;
}
.single-article .article-body .article-image:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  -webkit-box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.43);
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.43);
}
.single-article .article-body .article-image > img {
  border: 5px solid white;
}
.modal-avatar-container {
  margin: 0 auto;
}
.modal-avatar-container .user-avatar {
  position: relative;
  cursor: pointer;
  width: 33%;
  min-height: 200px;
  float: left;
  box-sizing: border-box;
}
.modal-avatar-container .user-avatar > img {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.modal-avatar-container .user-avatar > img.selected {
  background: rgba(0, 0, 0, 0.05);
}
.page .current-route {
  margin: 2.5rem 0 4rem;
  font-size: 12px;
}
.page .current-route a {
  color: #516375;
  transition: color linear 0.3s;
}
.page .current-route a:hover {
  color: #337ab7;
}
.page .current-route .sub-title {
  padding: 1rem 0 0;
  margin-bottom: 0;
  color: #1f262d;
  font-weight: normal;
  text-shadow: 1px 1px 1px white;
}
.quiz-item {
  margin-bottom: 4rem;
}
.quiz-item h1 {
  font-size: 2em;
}
.quiz-item h2 {
  font-size: 1.6em;
}
.quiz-item a.btn {
  color: white;
}
.quiz-item .quiz-controls {
  margin-top: 2rem;
}
.quiz-item .quiz-controls a,
.quiz-item .quiz-controls input {
  margin-left: 1rem;
}
.quiz-item .quiz-details .basic-info .text-left,
.quiz-item .quiz-details .basic-info .text-right {
  width: 50%;
}
.quiz-item .quiz-details .rating {
  color: rgba(50, 58, 67, 0.5);
}
.quiz-item .quiz-details .rating .glyphicon-ok-sign {
  color: #323a43;
}
#main-wrapper .navbar.navbar-inverse {
  border: 0;
  background: inherit;
}
#main-wrapper .navbar.navbar-inverse ul {
  *zoom: 1;
  margin: 0;
  padding: 0;
}
#main-wrapper .navbar.navbar-inverse ul:before,
#main-wrapper .navbar.navbar-inverse ul:after {
  content: "";
  display: table;
}
#main-wrapper .navbar.navbar-inverse ul:after {
  clear: both;
}
#main-wrapper .navbar.navbar-inverse ul .dropdown:hover ul {
  max-height: 1000px;
  -webkit-transform: perspective(400) rotate3d(0, 0, 0, 0);
}
#main-wrapper .navbar.navbar-inverse ul .dropdown:hover ul li:first-child {
  border-top: 1px solid #2e363e;
}
#main-wrapper .navbar.navbar-inverse a {
  color: #fff;
  padding: 1.5rem 1rem;
  display: block;
}
#main-wrapper .navbar.navbar-inverse a:hover,
#main-wrapper .navbar.navbar-inverse a a.selected {
  color: #8d96a0;
  background: inherit;
  text-decoration: none;
}
#main-wrapper .navbar.navbar-inverse li ul {
  background-color: #323b44;
  position: absolute;
  z-index: 200;
  max-height: 0;
  overflow: hidden;
  -webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
  transform-origin: 50% 0;
  transition: 350ms;
  border-left: 1px solid #485561;
  border-radius: 0 0 15px 15px;
  -webkit-box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.62);
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.62);
}
#main-wrapper .navbar.navbar-inverse li ul a {
  border: none;
}
#main-wrapper .navbar.navbar-inverse li ul a:hover {
  background: rgba(0, 0, 0, 0.2);
}
#main-wrapper .navbar.navbar-inverse li ul li {
  width: 18rem;
}
#main-wrapper .navbar.navbar-inverse .container-fluid li.dropdown:hover .dropdown-menu {
  display: block;
}
#main-wrapper .navbar.navbar-inverse .container-fluid li.dropdown .dropdown-menu {
  display: none;
  background-color: #323b44;
  margin-top: 0;
  padding: 0 3rem 2rem;
  width: 22rem;
  border: 0;
  border-left: 1px solid #485561;
  border-radius: 0 0 15px 15px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.62);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.62);
}
#main-wrapper .navbar.navbar-inverse .container-fluid li.dropdown .dropdown-menu a {
  padding: 1rem 0;
}
body {
  position: relative;
  font-family: "Droid Sans", sans-serif;
  background-color: #11161c;
  padding-top: 60px;
}
a {
  color: #fff;
}
a:hover,
a a.selected {
  color: #8d96a0;
}
a.home-link {
  font-style: italic;
  font-family: georgia, serif;
}
#main-wrapper header #logo {
  margin-bottom: 3rem;
}
#content-wrapper {
  margin-top: 6rem;
  padding: 0;
  width: 100%;
}
#content-wrapper h2.page-heading {
  color: #fff;
  font-family: "Colaborate Thin", monospace;
}
.footer-base {
  position: relative;
  color: #fff;
  background-color: #11161c;
}
.footer-base .illumination {
  width: 100%;
  height: 80%;
  top: 0;
  left: 0;
}
.footer-base .description {
  margin-bottom: 6rem;
}
body {
  background-image: url(/Content/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#main-illumination {
  width: 100%;
  height: 45rem;
  top: 0;
  left: 0;
  z-index: -1;
}
.action-notification {
  position: fixed;
  top: 10%;
  left: 25%;
  right: 25%;
  z-index: 1000;
  text-align: center;
}
.page {
  color: #a3a3a3;
  text-shadow: 1px 1px 1px white;
}
.page a {
  color: #1f262d;
  text-decoration: none;
}
.page a:hover {
  color: #687f97;
}
.page .content {
  margin-top: 1rem;
}
.page .content h2 {
  margin-top: 0;
  color: #1f262d;
  text-shadow: none;
}
.page .content > .wrapper {
  padding-bottom: 4rem;
}
.page .container-fluid {
  padding: 0;
}
.page h2,
.page h3,
.page h4 {
  font-family: "Colaborate Thin", monospace;
  color: white;
  text-shadow: 1px 1px 1px black;
}
.page .sub-title {
  padding: 1rem 0 0;
  margin-bottom: 0;
  color: #1f262d;
  font-weight: normal;
  text-shadow: 1px 1px 1px white;
}
.page .main-content {
  float: left;
  padding: 0 1rem 1rem 0;
}
.page .side-content {
  float: left;
  padding: 0 0 1rem 1rem;
  color: #5e5e5e;
  font-size: 1.2rem;
}
.end-line::before {
  content: "";
  width: 100%;
  height: 20px;
  background-image: url("/Content/images/border-right-shadow-lighter.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 100%;
}
.pager li {
  display: inline-block;
  text-shadow: none;
  vertical-align: bottom;
}
.pager .counter {
  margin-right: 2rem;
}
.pager .counter label {
  font-family: "Colaborate Thin", monospace;
  font-weight: normal;
  color: #838383;
  text-shadow: 1px 1px 0 #fff;
}
.pager .pagination {
  float: right;
}
.pager .pagination-page.active a {
  background: #000000;
}
.pager .pagination-page a {
  border-radius: 5px;
}
.language {
  z-index: 10;
}
@media only screen and (max-width: 700px) {
  .side-content {
    display: none;
  }
  .main-content {
    width: 100%;
  }
}
@media only screen and (min-width: 701px) {
  .main-content {
    width: 70%;
  }
  .side-content {
    width: 30%;
  }
}
.read-more-state {
  display: none;
}
.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}
.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}
.read-more-state ~ .read-more-trigger:before {
  content: 'Read More';
}
.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Read Less';
}
.read-more-trigger {
  float: right;
  cursor: pointer;
  display: inline-block;
  padding: 0.25em 1.25em;
  color: #111;
  border: 1px solid #ebeaea;
  border-radius: 1em;
  font-weight: normal;
  text-shadow: 0 0 1px #fff;
  background-image: -webkit-linear-gradient(180deg, #fff 5%, #f4f4f4 95%);
  background-image: -moz-linear-gradient(180deg, #fff 5%, #f4f4f4 95%);
  background-image: -ms-linear-gradient(180deg, #fff 5%, #f4f4f4 95%);
  background-image: -o-linear-gradient(180deg, #fff 5%, #f4f4f4 95%);
  background-image: linear-gradient(180deg, #fff 5%, #f4f4f4 95%);
}
.content {
  margin: 6rem 0;
}
.content .illumination {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  width: 40%;
  height: 20rem;
  z-index: -1;
  top: -13rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.content .row {
  margin: 4rem auto 0;
}
.content .description {
  max-width: 960px;
  text-shadow: 1px 1px 0 #fff;
}
.content .description h3 {
  font-family: "Colaborate Thin", monospace;
}
.content .description p {
  font-family: "Droid Sans", sans-serif;
  color: #838383;
}
.content .description article {
  position: relative;
  padding-left: 80px;
}
.content .description article::before {
  position: absolute;
  left: 30px;
  top: 21px;
  content: "";
  width: 40px;
  height: 39px;
}
.content .description article a {
  color: #1f262d;
}
.content .description article a:hover {
  color: #11161c;
  font-weight: bold;
}
.content .description .offer::before {
  background: url("/Content/images/content-icons.png") 0 76px;
}
.content .description .we-are::before {
  background: url("/Content/images/content-icons.png") 0 116px;
}
.content .description .mission span {
  text-shadow: none;
}
.content .description .mission::before {
  background: url("/Content/images/content-icons.png") 0 0;
}
.content .about {
  font-family: "Colaborate Thin", monospace;
  position: relative;
  color: #5c5c5c;
  text-align: center;
  border: 1px solid #d8d8d8;
  border-left: 0;
  border-right: 0;
  background-color: #fff;
  margin-bottom: 4rem;
  background-image: -webkit-linear-gradient(180deg, #fff 5%, #f4f4f4 95%);
  background-image: -moz-linear-gradient(180deg, #fff 5%, #f4f4f4 95%);
  background-image: -ms-linear-gradient(180deg, #fff 5%, #f4f4f4 95%);
  background-image: -o-linear-gradient(180deg, #fff 5%, #f4f4f4 95%);
  background-image: linear-gradient(180deg, #fff 5%, #f4f4f4 95%);
  -webkit-box-shadow: 0 -1px 1rem rgba(204, 204, 204, 0.62);
  -moz-box-shadow: 0 -1px 1rem rgba(204, 204, 204, 0.62);
  box-shadow: 0 -1px 1rem rgba(204, 204, 204, 0.62);
  -webkit-box-shadow: 0 -1px 1rem rgba(204, 204, 204, 0.62), 0 1px 1rem rgba(204, 204, 204, 0.62);
  -moz-box-shadow: 0 -1px 1rem rgba(204, 204, 204, 0.62), 0 1px 1rem rgba(204, 204, 204, 0.62);
  box-shadow: 0 -1px 1rem rgba(204, 204, 204, 0.62), 0 1px 1rem rgba(204, 204, 204, 0.62);
}
.content .about p {
  max-width: 960px;
  margin: 4rem auto;
  font-size: 1.5em;
  line-height: 1.25;
}
.content .about.quote::before {
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  width: 36px;
  height: 36px;
  margin: auto;
  content: "";
  background: url("/Content/images/content-icons.png") -3px 196px;
}
.content .about .read-more-trigger {
  float: none;
  position: absolute;
  bottom: -17px;
  width: 100px;
  padding: .25em;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.content .about .read-more-state ~ .read-more-trigger:before {
  content: "Additional Info";
}
.content .about .read-more-state:checked ~ .read-more-trigger:before {
  content: 'Less Info';
}
.about {
  position: relative;
  color: white;
}
.about h2,
.about h3 {
  font-family: "Colaborate Thin", monospace;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.62);
}
.about .language,
.about .btn-next {
  position: absolute;
  z-index: 10;
  right: 5px;
}
.about .language {
  top: 5px;
}
.about .btn-next {
  bottom: 5px;
  font-size: 1.5em;
  padding: 0 5px;
}
.about .about-carousel .slick-slide:focus {
  outline: none;
}
.about .about-carousel .slick-slide p {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.62);
}
.about .about-carousel .slick-slide .outro {
  margin-right: 5%;
}
.about .about-carousel .slick-dots button {
  color: white;
}
.categories-gallery {
  padding: 0 7%;
  width: inherit;
  list-style: none;
}
.categories-gallery .pic-1 {
  z-index: 1;
  transform: rotate(-10deg);
}
.categories-gallery .pic-2 {
  z-index: 2;
  transform: rotate(4deg);
}
.categories-gallery .pic-3 {
  z-index: 3;
  transform: rotate(-3deg);
}
.categories-gallery .pic-4 {
  z-index: 4;
  transform: rotate(7deg);
}
.categories-gallery .pic-0 {
  z-index: 5;
  transform: rotate(2deg);
}
.categories-gallery li {
  position: relative;
  float: left;
  height: 320px;
  margin: 1rem 0rem -0.5rem 1rem;
  padding: 1rem 1rem 2.5rem 1rem;
  border: 1px solid #fff;
  background-color: #fff;
  box-shadow: 0px 2px 15px #333;
}
.categories-gallery li h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #555;
}
.categories-gallery li .pic {
  width: 240px;
  height: 240px;
}
.categories-gallery li .pic:before {
  content: "";
  position: absolute;
  top: 3.3%;
  left: 4%;
  width: 92.5%;
  height: 75.3%;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.43);
}
.categories-gallery li .pic img {
  display: block;
  width: 100%;
  height: 100%;
}