<div class="modal-header">
    <button type="button" class="close" ng-click="ctrl.cancel()" aria-hidden="true">×</button>
    <h3 class="modal-title">Enter question details</h3>
</div>

<div class="modal-body">
    <ng-form name="questionForm" class="form-horizontal" novalidate>
        <fieldset>

            <!-- Title -->
            <div class="form-group">
                <label for="title" class="col-md-2 control-label">Question</label>
                <div class="col-md-10">
                    <textarea ng-model="ctrl.question.title" id="title"
                              class="form-control" name="title" placeholder="Enter the question"
                              required ng-minlength="5"
                              ng-focus="titleFocus=true" ng-blur="titleFocus=false"></textarea>
                    <div ng-show="questionForm.title.$invalid && (questionForm.title.$dirty
                        || titleFocus)"
                         class="alert alert-info">
                        <p>Enter a question of at least 5 characters.</p>
                    </div>
                </div>
            </div>

            <!-- Answers -->
            <div ng-repeat="answer in ctrl.question.answers" class="form-group">
                <label for="answerText{{$index}}"
                       ng-click="ctrl.markCorrect($index)"
                       class="col-md-2 control-label answer-mark"
                       ng-class="{correct: answer.isCorrect}">
                    <i class="fa fa-check" ng-if="answer.isCorrect"></i>
                    <a href ng-bind="ctrl.letters[$index]">
                    </a>
                </label>
                <div ng-form name="answerForm" class="col-md-10">
                    <div class="input-group">
                        <input type="text" ng-model="answer.text" id="answerText{{$index}}"
                               class="form-control answer-field" name="answerText{{$index}}" placeholder="Answer"
                               required ng-minlength="2"
                               ng-focus="answer.focus=true" ng-blur="answer.focus=false">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" ng-click="ctrl.removeAnswer($index)"
                                    arial-label="Remove">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                    <div ng-show="answerForm.answerText.$invalid && (answerForm.answerText.$dirty
                            || answer.focus)"
                         class="alert alert-info">
                        <p>Enter an answer of at least 2 characters</p>
                    </div>
                </div>
            </div>

            <!-- Add Answer Button -->
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <span uib-popover="Please, assign at least 2 answers and mark the correct answer!"
                          popover-trigger="none"
                          popover-is-open="!ctrl.saveIsAvailable(questionForm)"
                          popover-placement="right">
                        <button class="btn btn-info"
                                ng-disabled="questionForm.$invalid"
                                ng-click="ctrl.addAnswer()">
                            Add Answer
                        </button>
                    </span>
                </div>
            </div>
        </fieldset>
    </ng-form>
</div>

<div class="modal-footer">

    <button class="btn btn-danger" ng-click="ctrl.cancel()">Close</button>

    <button class="btn btn-success"
            ng-click="ctrl.ok()"
            ng-disabled="!ctrl.saveIsAvailable(questionForm)">
        Save Question
    </button>
</div>