<h3 class="slide-title">{{question.Title}}</h3>
<div class="slide-controls clearfix">
    <a href="#" class="control-left">left</a>
    <a href="#" class="control-right pull-right">right</a>
</div>
<div class="answers">
    <a href="#" ng-repeat="answer in question.Answers"
       ng-click="question.selected=$index; ctrl.slickConfig.method.slickNext()"
       ng-class="{selected: question.selected === $index}"
       class="list-group-item answer">
        <span>{{answer.Text}}</span>
    </a>
</div>