<h3 class="slide-title">{{question.Title}}</h3>

<div class="flex-box">

    <div class="slide-controls" ng-style="{opacity: ctrl.isFirstPage() ? 0: ''}">
        <a href="#" class="control-left" ng-click="ctrl.prev()">left</a>
    </div>

    <div class="answers" ng-init="questionIndex = $index">

        <ul>
            <li ng-repeat="answer in question.Answers" class="answer"
                ng-click="ctrl.select(questionIndex, $index)">

                <div class="flex-box">
                <span class="answer-checkbox list-group-item"
                      ng-class="{selected: question.selected === $index}">&nbsp;</span>

                    <span class="list-group-item">{{answer.Text}}</span>
                </div>
            </li>
        </ul>
    </div>

    <div class="slide-controls" ng-style="{opacity: ctrl.isLastPage() ? 0: ''}">
        <a href="#" class="control-right pull-right" ng-click="ctrl.next()">right</a>
    </div>

</div>

